[Desktop Entry]
Type=Application
Name=QindaQt Text Editor
GenericName=Text Editor
Comment=Edit local UTF-8 plain-text files
Exec=qindaqt-editor %f
Icon=accessories-text-editor
Terminal=false
Categories=Qt;Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
StartupWMClass=qindaqt-editor
